<head>
    <title>
        The New TSN Central Officer Records
    </title>
    <script type="module" src="main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <!-- The v-scope directive causes this entire div to be managed by petite-vue. This makes the templating work, as well as enabling a bunch of other similar directives like v-for, v-model, etc. -->
    <div v-scope id="main-content">
        <button class="tab" :class="{ active: displayTab == 'officers'}" @click="showOfficers">Officers</button>
        <button class="tab" :class="{ active: displayTab == 'ships'}" @click="showShips">Ships</button>
        <div v-if="displayTab == 'officers'" id="officers" class="tab-pane">
            <div id="officer-search" class="tab-sidebar">
                <div class="search">
                    <input class="search" v-model="officerSearch" />
                    <div class="small-option">
                        <input class="small-option" type="checkbox" v-model="showInactive" /><label class="small-option">Show inactive</label>
                    </div>
                </div>
                <div class="loading" v-if="officers.length === 0">
                    <img class="loading" src="assets/loading.gif" />
                </div>
                <ul>
                    <li v-for="officer in filteredOfficers">
                        <a @click="selectOfficer(officer.name)">
                            {{ getShortRank(officer.rank) }} {{ officer.name }}
                        </a>
                    </li>
                </ul>
                <div class="refresh">
                    <button @click="refreshData">Refresh</button>
                    <img v-if="refreshing" width="15px" class="refresh" src="assets/loading-spinner.gif" />
                </div>
            </div>
            <div class="tab-content-wrapper">
                <div v-if="!selectedOfficerObject" class="empty" id="officer-empty">
                    <h2>TSN Central Officer Records</h2>
                    <p>Select an officer to view information</p>
                </div>
                <div v-if="selectedOfficerObject" id="officer-display" class="tab-content">
                    <div class="content-title">
                        <h2 class="section-title officer-name">{{selectedOfficerObject.rank}} {{ selectedOfficerObject.name }}</h2>
                    </div>
                    <div id="basicData">
                        <table class="info-table officer-info">
                            <tr>
                                <td>
                                    <p class="info-title">Enlistment date:</p>
                                    <p>{{ formatDate(selectedOfficerObject.ct) }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Primary expertise:</p>
                                    <p>{{ selectedOfficerObject.primary_expertise }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Secondary expertise:</p>
                                    <p>{{ selectedOfficerObject.secondary_expertise }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Current assignment:</p>
                                    <p v-if="selectedOfficerObject.current_assignment !== ''">
                                        <a class="internal-link" @click="selectShip(selectedOfficerObject.current_assignment)">TSN {{ selectedOfficerObject.current_assignment }}</a>
                                    </p>
                                    <p v-if="selectedOfficerObject.current_assignment == ''">
                                        unassigned
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="promotions">
                        <h3 class="section-title">Promotions</h3>
                        <table class="info-table rank-info">
                            <tr v-for="rank in sortedRanks" class="info-entry">
                                <td v-if="officerHasRank(selectedOfficerObject, rank)">
                                    <p class="info-title">{{ rank.name }}:</p>
                                    <p>{{ formatDate(selectedOfficerObject[rank.shortcode.toLowerCase()]) }}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="awards">
                        <h3 class="section-title">Ribbon Rack</h3>
                        <div id="ribbonrack">
                            <div class="ribbon" v-for="award in selectedOfficerObject.awards">
                                <img class="ribbon-image" :src="getAwardImageByPath(award.image_file_path)" />
                                <!-- It's the good ol' triple nested overflow fuckery trick. Trust me, they're all needed. -->
                                <div class="ribbon-info-outer-wrapper">
                                    <div class="ribbon-info-inner-wrapper">
                                        <div class="ribbon-info">
                                            <p class="ribbon-title">
                                                {{ award.title }}
                                            </p>
                                            <p v-for="record in award.records" class="ribbon-notes">
                                                    {{ formatDate(record.date) }}
                                                    <span v-if="award.title !== record.award">({{ record.award }})</span>:
                                                    <span v-if="record.notes != ''">{{ record.notes }}</span>
                                                    <span v-if="record.notes == ''">{{ award.type }} awarded</span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="displayTab == 'ships'" id="ships" class="tab-pane">
            <div id="ship-search" class="tab-sidebar">
                <div v-if="shipsLoading">
                    <img src="assets/loading.gif" />
                </div>
                <ul>
                    <li v-for="ship in ships">
                        <a @click="selectShip(ship.name)">
                            TSN {{ ship.name }}
                        </a>
                    </li>
                </ul>
                <div class="refresh">
                    <button @click="refreshData">Refresh</button>
                    <img v-if="refreshing" width="15px" class="refresh" src="assets/loading-spinner.gif" />
                </div>
            </div>
            <div class="tab-content-wrapper">
                <div v-if="!selectedShipObject" class="empty" id="ship-empty">
                    <h2>TSN Ship Registry</h2>
                    <p>Select a ship to view information</p>
                </div>
                <div v-if="selectedShipObject" id="ship-display" class="tab-content">
                    <div class="content-title">
                        <h2 class="ship-name section-title">TSN {{selectedShipObject.name}} <span v-if="selectedShipObject.registry">({{ selectedShipObject.registry }})</span> </h2>
                    </div>
                    <div id="basicData">
                        <table class="info-table ship-info">
                            <tr>
                                <td>
                                    <p class="info-title">Registry:</p>
                                    <div class="long-property-text">
                                        <p>{{ selectedShipObject.registry }}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Class:</p>
                                    <div class="long-property-text">
                                        <p>{{ selectedShipObject.class }}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Status:</p>
                                    <div class="long-property-text">
                                        <p>{{ selectedShipObject.status }}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="info-title">Notes:</p>
                                    <div class="long-property-text">
                                        <p>{{ selectedShipObject.notes }}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="crew">
                        <h4>Assigned officers:</h4>
                        <ul class="crew-list">
                            <li class="crew-entry" v-for="officer in selectedShipObject.assigned_officers">
                                <a class="internal-link" @click="selectOfficer(officer.name)">
                                    {{ officer.rank }} {{ officer.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>