<head>
    <title>
        The New TSN Central Officer Records
    </title>
    <script type="module" src="main.js"></script>
    <link rel="stylesheet" href="layout.css" />
</head>
<body>
    <p>
        Styling is a thing which I will do later.
    </p>
    <!-- The v-scope directive causes this entire div to be managed by petite-vue. This makes the templating work, as well as enabling a bunch of other similar directives like v-for, v-model, etc. -->
    <div v-scope id="main-content">
        <button @click="refreshData">Refresh</button>
        <p v-if="refreshing">Refreshing...</p>
        <div v-if="displayTab == 'officers'" id="officers" class="tab-pane">
            <div id="officer-search" class="tab-sidebar">
                <input v-model="officerSearch" />
                <input type="checkbox" v-model="showInactive" />
                <ul>
                    <li v-for="officer in filteredOfficers">
                        <a @click="selectOfficer(officer.name)">
                            {{ getShortRank(officer.rank) }} {{ officer.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content-wrapper">
                <div v-if="selectedOfficerObject" id="officer-display" class="tab-content">
                    <div class="content-title">
                        <h3 class="section-title officer-name">{{selectedOfficerObject.rank}} {{ selectedOfficerObject.name }}</h3>
                    </div>
                    <div id="basicData">
                        <table class="info-table officer-info">
                            <tr>
                                <td class="info-title">Enlistment date:</td>
                                <td>{{ formatDate(selectedOfficerObject.ct) }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Primary expertise:</td>
                                <td>{{ selectedOfficerObject.primary_expertise }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Secondary expertise:</td>
                                <td>{{ selectedOfficerObject.secondary_expertise }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Current assignment:</td>
                                <td>
                                    <a class="internal-link" @click="selectShip(selectedOfficerObject.current_assignment)">TSN {{ selectedOfficerObject.current_assignment }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="promotions">
                        <table>
                            <tr v-for="rank in sortedRanks" class="info-entry">
                                <td class="info-title">{{ rank.name }}:</td>
                                <td>{{ formatDate(selectedOfficerObject[rank.shortcode.toLowerCase()]) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="awards">
                        <div id="ribbonrack">
                            <div class="ribbon" v-for="award in selectedOfficerObject.awards">
                                <img class="ribbon-image" :src="getAwardImageByPath(award.image_file_path)" />
                                <!-- It's the good ol' triple nested overflow fuckery trick. Trust me, they're all needed. -->
                                <div class="ribbon-info-outer-wrapper">
                                    <div class="ribbon-info-inner-wrapper">
                                        <div class="ribbon-info">
                                            <p class="ribbon-title">
                                                {{ award.title }}
                                            </p>
                                            <p v-for="record in award.records" class="ribbon-notes">
                                                {{ formatDate(record.date) }}: {{ record.notes }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="displayTab == 'ships'" id="ships" class="tab-pane">
            <div id="ship-search" class="tab-sidebar">
                <ul>
                    <li v-for="ship in ships">
                        <a @click="selectShip(ship.name)">
                            TSN {{ ship.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content-wrapper">
                <div v-if="selectedShipObject" id="ship-display" class="tab-content">
                    <div class="content-title">
                        <h3 class="ship-name section-title">TSN {{selectedShipObject.name}} ({{ selectedShipObject.registry }}) </h3>
                    </div>
                    <div id="basicData">
                        <table class="info-table ship-info">
                            <tr>
                                <td class="info-title">Registry:</td>
                                <td>{{ selectedShipObject.registry }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Class:</td>
                                <td>{{ selectedShipObject.class }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Status:</td>
                                <td>{{ selectedShipObject.status }}</td>
                            </tr>
                            <tr>
                                <td class="info-title">Notes:</td>
                                <td>{{ selectedShipObject.notes }}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="crew">
                        <h4>Assigned officers:</h4>
                        <ul class="crew-list">
                            <li class="crew-entry" v-for="officer in selectedShipObject.assigned_officers">
                                <a class="internal-link" @click="selectOfficer(officer.name)">
                                    {{ officer.rank }} {{ officer.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>