/* This stylesheet is used for arranging things on the page.
   It defines where things are, but not what they look like. */


/* Content alignment */
.tab-pane {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tab-content-wrapper {
    min-width: 250px;
    flex-grow: 1;
}

.tab-sidebar {
    width: 250px;
}

.content-title {
    width: 100%;
}

/* Ribbon rack */
.ribbon-info-outer-wrapper {
    position: relative;
    width: 0;
    height:0;
    overflow: visible;
    display: none;
}

.ribbon:hover .ribbon-info-outer-wrapper {
    display: block;
}

.ribbon-info-inner-wrapper {
    width: 400px;
    pointer-events: none;
    display: flex;

}

.right .ribbon-info-inner-wrapper {
    transform: translate(-350px, calc(-10px - 100%));
    justify-content: flex-end;
}

.left .ribbon-info-inner-wrapper {
    transform: translate(50px, calc(-10px - 100%));
    justify-content: flex-start;
}

.center .ribbon-info-inner-wrapper {
    transform: translate(-150px, calc(-10px - 100%));
    flex-direction: column;
    align-items: center;
}

.ribbon-info {
    background: #d6d6be;
    width: auto;
    display: inline-block;
    pointer-events: none;
}

.ribbon {
    float: left;
    height: 30px;
}

.ribbon-image {
    width: 100px;
    height: 30px;
}

#ribbonrack {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    overflow: visible;
}