/* This stylesheet is used for arranging things on the page.
   It defines where things are, but not what they look like. */


/* Content alignment */
.tab-pane {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tab-content-wrapper {
    width: 200px;
    flex-grow: 1;
    padding-top: 20px;
}

.content-title {
    width: 100%;
}

/* Search sidebar */

.tab-sidebar-inner {
    width: 250px;
}

.tab-sidebar.visible {
    width: 250px;
}

.tab-sidebar {
    width: 0px;
    overflow: hidden;
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}

div.sidebar-toggle {
    position: relative;
    top: 15px;
    left: -22px;
    height: 0px;
    width: 0px;
    overflow: visible;
    -webkit-transition: left 0.1s ease-in-out;
    -moz-transition: left 0.1s ease-in-out;
    -o-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;
}

div.sidebar-toggle.sidebarvisible {
    left: -41px;
}

button.sidebar-toggle {
    height: 25px;
    width: 25px;
}

/* Ribbon rack */
.ribbon-info-outer-wrapper {
    position: relative;
    width: 0;
    height:0;
    overflow: visible;
    display: none;
}

.ribbon:hover .ribbon-info-outer-wrapper {
    display: block;
}

.ribbon-info-inner-wrapper {
    width: 400px;
    pointer-events: none;
    display: flex;

}

.right .ribbon-info-inner-wrapper {
    transform: translate(-350px, calc(-20px - 100%));
    justify-content: flex-end;
}

.left .ribbon-info-inner-wrapper {
    transform: translate(50px, calc(-20px - 100%));
    justify-content: flex-start;
}

.center .ribbon-info-inner-wrapper {
    transform: translate(-150px, calc(-20px - 100%));
    flex-direction: column;
    align-items: center;
}

.ribbon-info {
    background: #d6d6be;
    width: auto;
    display: inline-block;
    pointer-events: none;
}

.ribbon {
    float: left;
    height: 30px;
}

.ribbon-image {
    width: 100px;
    height: 30px;
}

#ribbonrack {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    overflow: visible;
}